.roundCol .Rcard_wrapper .Rcard .swiper-slide:nth-child(1){
    padding: 5px 19px 0px 21px;
 
 
 }
 .roundCol .Rcard_wrapper .Rcard .swiper-slide:nth-child(1) .Rcardimg_wrapper{
   position: relative;
   top: 12px;
   left: -6px;
   margin-bottom: 22px;
 }
 /** 2nd card **/
 .roundCol .Rcard_wrapper .Rcard .swiper-slide:nth-child(2){
   position: relative;
   left: 8px;
   top: 3px;
 }
 .roundCol .Rcard_wrapper .Rcard .swiper-slide:nth-child(2) .Rcardimg_wrapper{
   top: 12px;
   left: 3px;
   margin-bottom: 24px;
 }
 /*8 3rd card **/
 .roundCol .Rcard_wrapper .Rcard .swiper-slide:nth-child(3){
   position: relative;
   top: 4px;
   left: 19px;
 } 
 .roundCol .Rcard_wrapper .Rcard .swiper-slide:nth-child(3) .Rcardimg_wrapper{
   top: 10px;
   left: -6px;
   margin-bottom: 24px;
 
 }